footer#footer
    .footer-top
        .container
            .row
                .col-lg-3.col-md-6.footer-contact
                    h3 e-datuzen
                    p
                        | Mwatate
                        br
                        | Taita-Taveta, TTCG 80305
                        br
                        | Kenya
                        br
                        br
                        strong Phone:
                        |  +254 7006 006
                        br
                        strong Email:
                        |  info@taitataveta.go.ke
                        br
                .col-lg-3.col-md-6.footer-links
                    h4 Links
                    ul
                        li
                            i.bx.bx-chevron-right
                            |  
                            a(href="#") Home
                        li
                            i.bx.bx-chevron-right
                            |  
                            a(href="#") About us
                        li
                            i.bx.bx-chevron-right
                            |  
                            a(href="#") Services
                        li
                            i.bx.bx-chevron-right
                            |  
                            a(href="#") Terms of service
                        li
                            i.bx.bx-chevron-right
                            |  
                            a(href="#") Privacy policy
                .col-lg-3.col-md-6.footer-links
                    h4 e-Services
                    ul
                        li
                            i.bx.bx-chevron-right
                            |  
                            a(href="#") Web Design
                        li
                            i.bx.bx-chevron-right
                            |  
                            a(href="#") Web Development
                        li
                            i.bx.bx-chevron-right
                            |  
                            a(href="#") Product Management
                        li
                            i.bx.bx-chevron-right
                            |  
                            a(href="#") Marketing
                        li
                            i.bx.bx-chevron-right
                            |  
                            a(href="#") Graphic Design
                .col-lg-3.col-md-6.footer-links
                    h4 Our Social Networks
                    p Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies
                    .social-links.mt-3
                        a.twitter(href="#")
                            i.bx.bxl-twitter
                        a.facebook(href="#")
                            i.bx.bxl-facebook
                        a.instagram(href="#")
                            i.bx.bxl-instagram
                        a.google-plus(href="#")
                            i.bx.bxl-skype
                        a.linkedin(href="#")
                            i.bx.bxl-linkedin
    .container.footer-bottom.clearfix
        .copyright
            | © Copyright 
            strong
                span Directorate of ICT
            | . All Rights Reserved
